.container{
    background-color: rgb(252, 253, 253);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 800px;
    padding: 12px;
    margin-top: 250px;
}
.box {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    border: 2px solid black;
    cursor: pointer;
}

.red {
    background-color: red;
}
.circle{
    border-radius: 50%;
}

header{
    text-align: center;
    background-color: rgb(243, 241, 238);
    margin-top: 0px;
    padding: 10px;
}